.slider-img {
    filter: contrast(50%) brightness(70%);
}

.slider-img {
    height: 50%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}

.gold-star {
    color: #FBBF24;
}

.fa-chevron-left {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(145, 140, 140, 0.354);
}

.fa-chevron-left {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: -15px;

}

.std-feesbac {
    position: relative;
}

.fa-chevron-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(145, 140, 140, 0.354);
}

.fa-chevron-right {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 620px;
}

.std-feesbac-two {
    position: relative;
}

/* social media icon */
.fa-brands {
    font-size: 20px;
    padding: 5px;
}

/* responsive for device */

@media only screen and (max-width:576px) {
    .course-iteam {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 25px;





    }


    .course-colmn-container {
        width: 90%;
        height: 80%;
    }

    .fa-chevron-left {
        display: none;
    }

    .fa-chevron-right {
        display: none;
    }

    .company-container {
        display: none;
    }



}

@media only screen and (min-width:577px) and (max-width:992px) {

    .fa-chevron-left {
        display: none;
    }

    .fa-chevron-right {
        display: none;
    }

    .course-colmn-container {
        width: 90%;
        height: 80%;
    }

}